html {
    background-color: rgb(42, 42, 48);
    font-family: monospace; 
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

#canvas {
    border: 1px solid white;
}

#menu {
    position: absolute;
    top: 25vh;
    left: 5vw;
    width: 400px;
    height: 400px;
    border: 1px solid white;
    background-color: rgb(50, 50, 56);
    display: flex;
    align-items: center;
}

#btns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    margin-left: 40px;
}

#btns button {
    width: 150px;
    font-size: 18px;
}

#info {
    color: white;
    margin-left: 20px;
    font-size: 18px;
}

#cat {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 60vh;
    left: 80vw;
}