html {
    background-color: rgb(42, 42, 48);
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
}

#canvas {
    border: 1px solid darkgray;
}

#external {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#menu {
    display: flex;
}

#btns {
    display: flex;
    border: 1px solid darkgray;
    background-color: rgb(50, 50, 56);
    flex-direction: column;
    margin-right: 10px;
}

#btns>* {
    margin: 10px;
}

#info {
    margin-top: 10px;
    padding: 0px 20px 20px 20px;
    border: 1px solid darkgray;
    background-color: rgb(50, 50, 56);
}

#btns button {
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 4px 10px 0px black;
}

#sand {
    background-color: rgb(187, 167, 77);
    border: 5px solid rgb(151, 131, 62);
}

#water {
    background-color: rgb(51, 100, 184);
    border: 5px solid rgb(39, 75, 138);
}

#wood {
    background-color: rgb(102, 66, 28);
    border: 5px solid rgb(66, 43, 18);

}

#stone {
    background-color: rgb(100, 100, 100);
    border: 5px solid rgb(70, 70, 70);

}

#smoke {
    background-color: rgb(50, 50, 56);
    border: 5px solid rgb(30, 30, 36);
}

#fire {
    background-color: rgb(190, 60, 20);
    border: 5px solid rgb(120, 20, 0);
}

#custom {
    position: relative;
    background-color: rgb(180, 150, 255);
    border: 5px solid rgb(140, 110, 205);
}

#info {
    color: white;
    font-size: 18px;
}


#debugOptionsSelect {
    background-color: rgb(50, 50, 56);
    color: white;
    border: 1px solid darkgray;
    padding: 5px;
    font-family: monospace;
}

#pause {
    background-color: rgb(50, 50, 56);
    border: 1px solid white;
    color: white;
    width: 100px;
    padding: 5px;
    font-family: monospace;
    font-size: 16px;
    box-shadow: 0 4px 10px 0px black;
}

#pause:hover {
    background-color: rgb(40, 40, 46);
}

#editWindow {
    background-color: rgb(50, 50, 56);
    border: 1px solid darkgray;
    padding: 20px;
    color: white;
}

#editWindowContent {
    display: flex;
    flex-direction: column;
}

#editTitleWindow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#editTitleWindow h2 {
    margin: 0px 10px;
    color: white;
}

#editTitleWindow button {
    font-size: 18px;
    color: white;
    background-color: rgb(50, 50, 56);
    font-weight: bold;
    box-shadow: 0 4px 10px 0px black;
}

#editValueWindow {
    display: flex;
    margin-top: 10px;
}

#editValueWindow>* {
    margin-right: 20px;
}

#editValueWindow label {
    color: white;
}

#editValueWindow input {
    color: white;
    background-color: rgb(50, 50, 56);
    border: 1px solid white;
    font-family: monospace;
    font-size: 14px;
    box-shadow: 0 4px 10px 0px black;
    margin-bottom: 10px;
    width: 100px;
}

#editValueWindow input:hover {
    background-color: rgb(40, 40, 46);
}

#resetSettings {
    font-size: 16px;
    color: white;
    background-color: rgb(50, 50, 56);
    font-weight: bold;
    box-shadow: 0 4px 10px 0px black;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
}

#resetSettings:hover {
    background-color: rgb(40, 40, 46);
}