html {
    background-color: rgb(42, 42, 48);
    font-family: monospace;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    user-select: none;
}

#app {
    display: flex;
}

#container {
    display: flex;
    justify-content: center;
    margin: 10px 20px;
    background-color: rgb(34, 34, 40);
}

#toolbar {
    position: absolute;
    top: 98%;
    left: 50%;
    border: 1px solid white;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(50, 50, 56, 0.75);
    padding: 10px;
    width: 50%;
    z-index: 1;
}

.toolbar-button {
    background-color: rgb(50, 50, 56);
    color: white;
    border: 1px solid white;
    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    flex: 1;
    margin: 0px 10px;
}

#item-menu {
    background-color: rgb(50, 50, 56);
    border: 1px solid white;
    padding: 10px;
    width: 200px;
    height: 300px;
    position: absolute;
    overflow-y: auto;
    max-height: 300px;
    scrollbar-width: thin;
    scrollbar-color: white rgb(40, 40, 46);
}

.menu-item {
    background-color: rgb(50, 50, 56);
    color: white;
    border: 1px solid white;
    font-family: monospace;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 0px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

.menu-item.active {
    background-color: rgb(70, 70, 76);
    outline: 1px solid white;
}

#item-menu::-webkit-scrollbar {
    width: 8px;
}

#item-menu::-webkit-scrollbar-track {
    background: rgb(40, 40, 46);
}

#item-menu::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
}

#element-details-menu {
    position: absolute;
    display: none;
    background: rgba(50, 50, 56, 0.75);
    border: 1px solid white;
    padding: 0px 10px;
    color: white;
    pointer-events: none;
}

#element-details-content {
    margin: 0;
    padding: 0;
    line-height: 0.5;

}

#brush-menu {
    background-color: rgb(50, 50, 56);
    border: 1px solid white;
    padding: 30px 0px;
    width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

#brush-preview {
    border: 1px solid white;
    aspect-ratio: 1/1;
}

#brush-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 18px;
}

#close-brush-menu {
    background-color: rgb(50, 50, 56);
    color: white;
    border: 1px solid white;
    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px;
    width: 100%;
}

#close-brush-menu:hover {
    background-color: rgb(40, 40, 46);
}

#brush-controls label {
    margin-bottom: 10px;
}

#brush-controls input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: rgb(50, 50, 56);
    outline: none;
    margin-bottom: 30px;
    border: 1px solid white;
}

#brush-controls input[type="range"]:hover {
    opacity: 1;
}

#brush-controls input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid rgb(50, 50, 56);
}

#brush-controls input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid rgb(50, 50, 56);
}

#help-menu {
    background-color: rgb(50, 50, 56);
    border: 1px solid white;
    padding: 10px 20px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
}

#close-help-menu {
    background-color: rgb(50, 50, 56);
    color: white;
    border: 1px solid white;
    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px;
}

#close-help-menu:hover {
    background-color: rgb(40, 40, 46);
}

#external {
    margin-left: 10px;
    height: 800px;
    display: none;
}

#menu {
    display: flex;
}

#btns {
    display: flex;
    border: 1px solid darkgray;
    background-color: rgb(50, 50, 56);
    flex-direction: column;
    margin-right: 10px;
}

#btns>* {
    margin: 10px;
}

#info {
    margin-top: 10px;
    border: 1px solid darkgray;
    background-color: rgb(50, 50, 56);
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

#debugOptions {
    margin-top: 10px;
}

#titleCard {
    margin-top: 10px;
    background-color: rgb(50, 50, 56);
    color: white;
    padding: 10px;
    font-size: 18px;
    border: 1px solid darkgray;
    box-shadow: 0 4px 10px 0px black;
}

#titleCard h1 {
    margin: 10px;
}

#btns button {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
    box-shadow: 0 4px 10px 0px black;
}

.button-selected {
    outline: 2px solid darkgray;
}

#sand {
    background-color: rgb(187, 167, 77);
    border: 5px solid rgb(151, 131, 62);
}

#water {
    background-color: rgb(51, 100, 184);
    border: 5px solid rgb(39, 75, 138);
}

#wood {
    background-color: rgb(102, 66, 28);
    border: 5px solid rgb(66, 43, 18);

}

#stone {
    background-color: rgb(100, 100, 100);
    border: 5px solid rgb(70, 70, 70);

}

#smoke {
    background-color: rgb(50, 50, 56);
    border: 5px solid rgb(30, 30, 36);
}

#fire {
    background-color: rgb(190, 60, 20);
    border: 5px solid rgb(120, 20, 0);
}

#custom {
    background-color: rgb(180, 150, 255);
    border: 5px solid rgb(140, 110, 205);
}

#eraser {
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(225, 225, 225);

}

#debugOptionsSelect {
    background-color: rgb(50, 50, 56);
    color: white;
    border: 1px solid darkgray;
    padding: 5px;
    font-family: monospace;
    cursor: pointer;
}

#resetAll,
#resetSettings,
#githubrepo {
    background-color: rgb(50, 50, 56);
    border: 1px solid white;
    color: white;
    width: 120px;
    padding: 5px;
    font-family: monospace;
    font-size: 16px;
    box-shadow: 0 4px 10px 0px black;
    cursor: pointer;
}

#resetAll:hover,
#resetSettings:hover,
#githubrepo:hover {
    background-color: rgb(40, 40, 46);
}


#editWindow {
    background-color: rgb(50, 50, 56);
    border: 1px solid darkgray;
    padding: 10px;
    color: white;
}

#editWindowContent {
    display: flex;
    flex-direction: column;
}

#editTitleWindow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#editTitleWindow h2 {
    margin: 0px 10px;
    color: white;
}

#editTitleWindow button {
    font-size: 18px;
    color: white;
    background-color: rgb(50, 50, 56);
    font-weight: bold;
    box-shadow: 0 4px 10px 0px black;
}

#editValueWindow {
    display: flex;
    margin-top: 10px;
}

#editValueWindow>* {
    margin-right: 20px;
}

#editValueWindow label {
    color: white;
}

#editValueWindow input {
    color: white;
    background-color: rgb(50, 50, 56);
    border: 1px solid white;
    font-family: monospace;
    font-size: 14px;
    box-shadow: 0 4px 10px 0px black;
    margin-bottom: 10px;
    width: 100px;
}

#editValueWindow input:hover {
    background-color: rgb(40, 40, 46);
}

#resetSettings {
    width: 100px;
    margin-top: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#backgroundcolor {
    color: white;
    background-color: rgb(50, 50, 56);
    border: 1px solid white;
    font-family: monospace;
    font-size: 14px;
    box-shadow: 0 4px 10px 0px black;
    margin-bottom: 10px;
    width: 100px;

}