html {
    background-color: rgb(42, 42, 48);
    font-family: monospace;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    user-select: none;
}

#app {
    display: flex;
}

#container {
    display: flex;
    justify-content: center;
    margin: 10px 20px;
    background-color: rgb(34, 34, 40);
    touch-action: none;

}

#toolbar {
    position: absolute;
    top: 98%;
    left: 50%;
    border: 1px solid white;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(50, 50, 56, 0.75);
    padding: 10px;
    width: 50%;
    z-index: 1;
}

.toolbar-button {
    background-color: rgb(50, 50, 56);
    color: white;
    border: 1px solid white;
    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    flex: 1;
    margin: 0px 10px;
}

#item-menu {
    background-color: rgb(50, 50, 56);
    border: 1px solid white;
    padding: 10px;
    width: 200px;
    height: 300px;
    position: absolute;
    overflow-y: auto;
    max-height: 300px;
    scrollbar-width: thin;
    scrollbar-color: white rgb(40, 40, 46);
}

.menu-item {
    background-color: rgb(50, 50, 56);
    color: white;
    border: 1px solid white;
    font-family: monospace;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 0px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

.menu-item.active {
    background-color: rgb(70, 70, 76);
    outline: 1px solid white;
}

#item-menu::-webkit-scrollbar {
    width: 8px;
}

#item-menu::-webkit-scrollbar-track {
    background: rgb(40, 40, 46);
}

#item-menu::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
}

#element-details-menu {
    position: absolute;
    display: none;
    background: rgba(50, 50, 56, 0.75);
    border: 1px solid white;
    padding: 0px 10px;
    color: white;
    pointer-events: none;
}

#element-details-content {
    margin: 0;
    padding: 0;
    line-height: 0.5;

}

#brush-menu {
    background-color: rgb(50, 50, 56);
    border: 1px solid white;
    padding: 30px 0px;
    width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

#brush-preview {
    border: 1px solid white;
    aspect-ratio: 1/1;
}

#brush-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 18px;
}

#close-brush-menu {
    background-color: rgb(50, 50, 56);
    color: white;
    border: 1px solid white;
    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px;
    width: 100%;
}

#close-brush-menu:hover {
    background-color: rgb(40, 40, 46);
}

#brush-controls label {
    margin-bottom: 10px;
}

#brush-controls input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: rgb(50, 50, 56);
    outline: none;
    margin-bottom: 30px;
    border: 1px solid white;
}

#brush-controls input[type="range"]:hover {
    opacity: 1;
}

#brush-controls input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid rgb(50, 50, 56);
}

#brush-controls input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid rgb(50, 50, 56);
}

#help-menu {
    background-color: rgb(50, 50, 56);
    border: 1px solid white;
    padding: 10px 20px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
}

#close-help-menu {
    background-color: rgb(50, 50, 56);
    color: white;
    border: 1px solid white;
    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px;
}

#close-help-menu:hover {
    background-color: rgb(40, 40, 46);
}

#pause-notification {
    background-color: rgba(50, 50, 56, 0.75);
    border: 1px solid white;
    padding: 10px 20px;
    position: absolute;
    left: 90%;
    top: 10%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    pointer-events: none;
}

@media only screen and (max-width: 600px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden; /* prevent page scroll */
        touch-action: none; /* disables double-tap zoom and scroll on canvas */
        user-select: none;  /* disables text selection while dragging */
        background-color: #121212; /* optional, dark background for canvas app */
    }
    
    canvas {
        display: block;
        width: 100vw;
        height: 100vh;
        touch-action: none;
    }

    #toolbar {
        top: 97%;
        width: 90%;
    }
    
    .toolbar-button {
        font-size: 12px;
        padding: 5px 0px;
        margin: 0px 3px;
    }

    #brush-menu {
        width: 90%;
    }

    #brush-preview {
        width:10px;
        height:10px;
    }

    #brush-controls {
        font-size: 14px;
    }

    .menu-item {
        font-size: 16px;
    }

    #help-menu {
        width: 80%;
    }
}

